/* Twitter Bootstrap Narrow marketing css */
body {
    padding-top: 20px;
    padding-bottom: 40px;
}

footer {
    clear: both;
    margin-top: 40px;
    text-align: center;
}

.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0;
}

.propaganda {
    margin: 60px 0;
    text-align: center;
}
.propaganda h1 {
    font-size: 72px;
    line-height: 1;
}
.propaganda .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.marketing.bullshit {
    margin: 60px 0;
}
.marketing.bullshit p + h4 {
    margin-top: 28px;
}

article {
    height: 300px;
}

article:-moz-full-screen #remote-video {
    width: 100%;
    height: 100%;
}

article:-moz-full-screen #local-video {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    height: 200px;
}

video {
    height: 300px;
    width: 300px;
    border: 1px solid #999999;
    background-color: #999999;
}

#local-video {
    float: left;
}

#remote-video {
    float: right;
}

#etherpad {
    text-align: center;
    margin-top: 40px;
}

#etherpad-iframe {
    width: 100%;
    height: 100%;
    padding: 0 auto;
    border: 1px solid #999999;

.hide {
    display: none;
}

