{sys, [
       {lib_dirs, ["../", "../deps"]},
       {rel, "hibuddy", "1",
        [
         hibuddy,
         mimetypes,
         sendfile,
         kernel,
         stdlib,
         sasl
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "hibuddy"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "hibuddy"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/hibuddy", "bin/hibuddy"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"},
           {copy, "../hibuddy/priv"},
           {copy, "../hibuddy/public"}
          ]}.
